<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="maincontainer">
    <div class="header">
    <h2>Student Login Details</h2>
</div>
<div class="main">
    <div class="stdbtn">
    <a href="/user" id="std" class="nav">Get Student Details</a>
    <a href="/newUser" id="newstd" class="nav">New Registration</a> 
    <a href="/attend" id="attend" class="nav">Scanner</a>
    <a onclick="logout()" id="log" class="nav">Logout</a> 
    </div> 

    <div class="users" id="user">
        <table id="ut">
            
        </table>
        
    </div>
</div>
</div>
    <script src="script.js"></script>
</body>
</html>
