<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="maincontainer">
        <div class="header">
        <h2>Students Details</h2>
        </div>
        <div class="users">

            <div class="stddetails" id="stdid">
                <table id="ul">
                    
                </table>
                
            </div>
        </div>
    </div>
    <script src="user.js"></script>
</body>
</html>